.container {
  min-height: 20rem;
  max-width: 60rem;
  margin: auto;
  padding: 0;
  position: absolute;
  top: 2rem;
  left: 0;
  bottom: 3rem;
  right: 0;

  &__header {
    padding: 10px 10px 0 10px;
    background-color: #d2d0d1;

    &_title {
      color: #7a7b83;
    }
  }

  &__content {
    padding: 20px;
  }
}
