.container {
  margin: auto;
  width: 95%;
  padding: 0;
  min-height: 20rem;
  max-width: 80rem;
  position: absolute;
  top: 3rem;
  left: 0;
  bottom: 1rem;
  right: 0;

  &__header {
    padding: 10px 10px 0 10px;
    color: #757575;
    border-radius: 4px 4px 0 0;

    &_back-btn {
      position: absolute;
      top: 0.3rem;
      right: 1rem;
    }
  }

  &__content {
    padding: 20px;

    &_select-class {
      display: block;
      position: absolute;
      top: 35%;
      left: 30%;
    }
  }
}
