<mat-card class="container">
  <mat-card-header class="container__header">
    <mat-card-title class="container__header_title">
      {{ "D&D 3.5e Spellbook" }}
      {{ data.charClassName ? "/ " + data.charClassName : "" }}
      {{
        data.charClassName
          ? view.isFavoritesMode
            ? "/ Favorites"
            : "/ All spells"
          : ""
      }}
    </mat-card-title>
    <button
      mat-button
      class="container__header_back-btn"
      (click)="handleGoToSelectClassClick()"
      *ngIf="data.charClassName"
    >
      Select another class
      <i class="material-icons">keyboard_return</i>
    </button>
  </mat-card-header>
  <mat-card-content class="container__content">
    <app-select-class
      class="container__content_select-class"
      *ngIf="!view.isLoading && !view.isError && !view.areSpellsLoaded"
    ></app-select-class>
    <app-loading *ngIf="view.isLoading"></app-loading>
    <app-error *ngIf="view.isError"></app-error>
    <app-main *ngIf="view.areSpellsLoaded"></app-main>
    <img
      *ngIf="!view.isLoading && !view.isError && !view.areSpellsLoaded"
      src="../../assets/dragon.svg"
      class="container__content_image"
    />
    <img
      *ngIf="view.areSpellsLoaded"
      src="../../assets/divider.svg"
      class="container__content_divider"
    />
  </mat-card-content>
</mat-card>
