<div>
  <div *ngIf="!service.isLoggedIn" class="auth">
    <a mat-button (click)="handleLoginClick()">
      Login
    </a>
    <span>
      |
    </span>
    <a mat-button (click)="handleSignupClick()">
      Sign Up
    </a>
  </div>
  <div *ngIf="service.isLoggedIn" class="auth">
    <span class="auth__username"> Welcome, {{ service.username }} </span>
    <a
      mat-button
      class="auth__logout-btn"
      *ngIf="service.isLoggedIn"
      (click)="handleLogoutClick()"
    >
      ( Logout )
    </a>
  </div>
  <app-container></app-container>
</div>
