.auth {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 1rem;
  @media screen and (max-width: 540px) {
    right: 0rem;
  }

  @media screen and (min-width: 540px) and (max-width: 1920px) {
    right: .5rem;
  }

  @media screen and (min-width: 1920px) {
    right: 20rem;
  }
  color: #9fb1b1;

  &__username {
    font-size: 14px;
  }

  &__logout-btn {
    margin-right: 1.5rem;
    padding: 0;
  }
}