.nav {
  &__fav-btn {
    float: right;
  }
}

.filters {
  margin-top: 1rem;
  margin-bottom: 1rem;

  &__select {
    margin-right: 40px;
  }
}

.spells {
  width: 100%;

  @media screen and (max-width: 540px) {
    height: 40vh;
  }

  @media screen and (min-width: 540px) and (max-width: 1920px) {
    height: 50vh;
  }

  @media screen and (min-width: 1920px) {
    height: 70vh;
  }

  &__sidebar {
    width: 25%;

    .mat-tree-node {
      min-height: 0;
      overflow: visible;
    }
  }

  &__spellcard {
    width: 75%;
    position: relative;
    background-color: #e8e6e7;

    &_card {
      width: 80%;
      height: fit-content;
      margin: auto;
      position: relative;
      top: 2rem;

      & button {
        float: right;
      }

      & p {
        padding: 0;
        margin: 2px;
      }
    }
  }
}
