<div class="nav">
  <button mat-button (click)="handleGoToSelectClassClick()">
    Go back
  </button>
</div>
<mat-divider></mat-divider>
<div class="filters">
  <mat-form-field class="filters__text-input">
    <input matInput placeholder="Enter spell's name..." />
  </mat-form-field>
  <mat-form-field class="filters__select">
    <mat-label>Sort by...</mat-label>
    <mat-select>
      <mat-option *ngFor="let sortOption of sortOptions" [value]="sortOption">
        {{ sortOption }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-drawer-container class="spells">
  <mat-drawer class="spells__sidebar" mode="side" opened
    >Drawer content</mat-drawer
  >
  <mat-drawer-content class="spells__spellcard">
    <mat-card class="spells__spellcard_card">Simple card</mat-card>
  </mat-drawer-content>
</mat-drawer-container>
