<h1 mat-dialog-title class="title">Login</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field class="form__login">
      <input matInput placeholder="Login" [formControl]="login" />
      <mat-error *ngIf="isLoginHasError()">
        Login is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form__password">
      <input
        matInput
        type="password"
        placeholder="Password"
        [formControl]="password"
      />
      <mat-error *ngIf="isPasswordHasError()">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="!isErrorMessageEmpty()" class="form__error">
      {{ errorMessage }}
    </mat-error>
  </form>
</div>
<div mat-dialog-actions class="actions">
  <button
    mat-flat-button
    (click)="onLoginClick()"
    [disabled]="isLoginButtonDisabled()"
    color="primary"
  >
    Login
  </button>
  <button mat-flat-button (click)="onCancelClick()">Cancel</button>
</div>
