.title {
  text-align: center;
  margin-bottom: 2rem;
}

.form {
  &__login,
  &__password {
    display: block;
    width: 100%;
  }

  &__login {
    margin-bottom: 1rem;
  }

  &__password {
    margin-bottom: 1.5rem;
  }

  &__error {
    background-color: #fbe9e7;
    border: 1px solid #ffab91;
    border-radius: 3px;
    padding: 10px;
    font-size: 14px;
  }
}

.actions {
  button {
    width: 50%;
    margin: 0;
  }
}
